<div class="row m-0">
  <ngb-tabset #tabContaine="ngbTabset" class="w-100">
    <ngb-tab title="مخطط الإتجاة">
      <ng-template ngbTabContent>
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
          blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth
          letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic,
          assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore
          stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry
          richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo
          park.
        </p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="مخطط الأبعاد">
      <ng-template ngbTabContent>
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. xercitation +1 labore velit,
          blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth
          letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic,
          assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore
          stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry
          richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo
          park.
        </p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="عرض علي الخريطة" id="tab-map">
      <ng-template ngbTabContent>
        <div class="row">
          <div class="col-12">
            <agm-map [latitude]="24.774265" [longitude]="46.738586" [zoom]="4" style="min-width:600px">
              <agm-marker *ngFor="let area of areas" [latitude]="area.lat" [longitude]="area.lng"></agm-marker>
            </agm-map>
          </div>
        </div>
  
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>